{% extends 'base.html' %}

{% block profile %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index'%}">home</a>
</li>
{% endblock profile %}

{% block account %}
{% endblock account %}
{% block logout %}
{% endblock logout %}
{% block body %}
<div class="container">
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}
